.download-the-app-img {
    padding-right: 3px !important;
    padding-left: 3px !important;
    padding-bottom: 8px !important;
    background-color: #f3f3f3 !important;
}

.view-more-btn {
    padding-bottom: 0px !important;
}

.veeps-section>tbody>tr>th {
    padding-bottom: 0px !important;
}

.merch-section>tbody>tr>th {
    background-color: #f3f3f3 !important;
}
