.footer {
    background-color: #000000;
}

.footer p {
    color: #ffffff;
}

.paragraph-big {
    font-size: 1.3rem;
}

.social-icon {
    display: inline;
}

.vertical-divider {
    margin: 0px 6px;
    font-size: 1.4rem;
    color: #ffffff;
}

.menu-settings th {
    padding: 10px 0px !important;
}

.menu-info th {
    padding: 10px 0px !important;
}

.menu-item > a {
    color: #ffffff !important;
}
