.footer {
    background-color: #000000;
}

.footer p {
    color: #ffffff;
}

.paragraph-big {
    font-size: 1.5rem;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

.social-icon {
    display: inline;
}

.vertical-divider {
    margin: 0px 6px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
}

.menu-settings th {
    padding: 10px 0px !important;
}

.menu-settings a {
    font-family: arial,helvetica,sans-serif;
    font-weight: 600;
}

.paragraph-normal {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

.menu-info th {
    padding: 10px 0px !important;
}

.menu-item > a {
    font-family: arial,helvetica,sans-serif;
    font-weight: 600;
    color: #ffffff !important;
}

.info > a {
    font-size: 0.8rem;
}
