<row class="collapse">
    <columns>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/hero-slide.gif" alt="live nation latest shows"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/rock-and-roll-machine.png" alt="rock and roll machine"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/moonage-daydream-to-premiere.png" alt="moonage daydream to premiere"></a>
    </columns>
</row>

<row class="collapse">
    <columns class="view-more-btn">
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/view-more-btn.png" alt="view more button"></a>
    </columns>
</row>

<row>
    <columns class="download-the-app-img">
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/download-the-live-nation-app.png" alt="download the live nation app"></a>
    </columns>
</row>

<row class="collapse">
    <columns>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/livestreams.png" alt="livestreams"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/veeps-section1.png" alt="veeps section 1"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/veeps-section2.png" alt="veeps section 2"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/new-music.png" alt="new music"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/harrys-house-album.png" alt="harrys house album"></a>
    </columns>
</row>
