<wrapper class="footer">
    <row class="collapse">
        <columns>
            <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/live-nation.png" alt="live nation">
            <spacer size="22"></spacer>
            <p class="text-center paragraph-big">Connect with us</p>
            <center>
                <menu>
                    <item href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/facebook-icon.png" alt="facebook icon"></item>
                    <item href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/twitter-icon.png" alt="twitter icon"></item>
                    <item href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/instagram-icon.png" alt="instagram icon"></item>
                    <item href="#"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/Live_Nation_Newsletter_Email/dist/assets/img/youtube-icon.png" alt="youtube icon"></item>
                </menu>
            </center>
            <spacer size="22"></spacer>
            <center>
                <menu class="menu-settings">
                    <item href="#">Email Preferences<span class="vertical-divider">|</span></item>
                    <item href="#">Change Location<span class="vertical-divider">|</span></item>
                    <item href="#">Help<span class="vertical-divider"></span></item>
                </menu>
            </center>
            <spacer size="35"></spacer>
            <p class="text-center">This email was sent by Live Nation, 9348 Civic Center Drive, Beverly Hills, CA 90210, USA.</p>
            <spacer size="15"></spacer>
            <p class="text-center">© 2022 Live Nation Worldwide, Inc. All rights reserved.</p>
            <spacer size="19"></spacer>
            <center>
                <menu class="menu-info">
                    <item href="#">Privacy<span class="vertical-divider">|</span></item>
                    <item href="#">Terms of Use<span class="vertical-divider">|</span></item>
                    <item href="#">View in browser<span class="vertical-divider"></span></item>
                </menu>
            </center>
        </columns>
    </row>
</wrapper>
